<script>
    const boton = document.querySelector("#boton");
    const nombre = document.querySelector("#nombre");
    const correo = document.querySelector("#correo");
    const telefono = document.querySelector("#telefono");
    const foto = document.querySelector("#foto");

    const generarUsuario = async () => {
        //consultar a la API
        const url = "https://randomuser.me/api/";
        const respuesta = await fetch(url);
        const { results } = await respuesta.json();
        const datos = results[0];

        foto.src = datos.picture.medium;
        nombre.textContent = datos.name.first;
        correo.textContent = datos.email;
        telefono.textContent = datos.phone;
    };

    //crear un evento
    document.addEventListener("DOMContentLoaded", generarUsuario);
    boton.addEventListener("click", generarUsuario);
</script>

<template>
    <h1>Random User Generator</h1>

    <div class="contenedor">
        <img id="foto" src="" alt="imagen" />
        <h2>Hola mi nombre: <span id="nombre"></span></h2>
        <div class="datos">
            <p>Correo: <span id="correo"></span></p>
            <p>Celular: <span id="telefono"></span></p>
        </div>
    </div>

    <div class="boton">
        <button id="boton">SIGUIENTE</button>
    </div>
</template>

<style>
    * {
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: 'Nunito', sans-serif;
}

h1 {
    background: linear-gradient(to right, rgb(0, 49, 148), rgb(0, 179, 255));
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    color: aliceblue;
    padding: 5px;
    box-shadow: 0px 2px 5px gray;
}

.contenedor {
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 2px 2px 7px rgb(187, 198, 214);
    border-radius: 10px;
}

@media (max-width: 600px) {
    .contenedor {
        width: 90%;
    }
}

h2,
p {
    color: rgb(17, 22, 37);
}

h2 span,
p span {
    color: rgb(119, 137, 172);
}

img {
    border-radius: 50%;
    width: 100px;
}

.boton {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

button {
    border: none;
    background: linear-gradient(to right, rgb(14, 67, 174), rgb(7, 94, 224));
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all ease 400ms;
}

button:hover {
    transform: scale(1.1);
}
</style>
