<script>
    const nombre = document.querySelector('#nombre');
    const correo = document.querySelector('#correo');
    const telefono = document.querySelector('#telefono');
    const foto = document.querySelector('#foto');
    

    const generarUsuario = async () => {
        //consultar a la API
        const url = "https://randomuser.me/api/";
        const respuesta = await fetch(url);
        const { results } = await respuesta.json();
        const datos = results[0];

        
        if (foto) {
            foto.src = datos.picture.medium;
        } else {
            console.error('No se encontró el elemento #foto');
        }
        
        if (nombre) {
            nombre.textContent = datos.name.first;
        } else {
            console.error('Error al obtener nombre del usuario');
        }

        if (correo) {
            correo.textContent = datos.email;
        } else {
            console.error('Error al obtener correo del usuario');
        }

        if (telefono) {
            telefono.textContent = datos.phone;
        } else {
            console.error('Error al obtener telefono del usuario');
        }
        
        
    };

    //crear un evento
    document.addEventListener("DOMContentLoaded", generarUsuario);
    
    document.addEventListener("DOMContentLoaded", () => {
        // Obtener el elemento button con querySelector
        const boton = document.querySelector('#boton');
        // Agregar el evento click al botón
        if (boton) {
            boton.addEventListener("click", generarUsuario);
        } else {
            console.error('No se encontró el elemento #boton');
        }
});
</script>

<h1>Generador de Usuarios Random</h1>

<div class="contenedor">
    <img id="foto" src="" alt="imagen" />
    <h2>Nombre: <span id="nombre"></span></h2>
    <div class="datos">
        <p>Correo: <span id="correo"></span></p>
        <p>Celular: <span id="telefono"></span></p>
    </div>
</div>

<div class="boton">
    <button id="boton">SIGUIENTE</button>
</div>