<script>
    const nombre = document.querySelector('#nombre');
    const correo = document.querySelector('#correo');
    const telefono = document.querySelector('#telefono');
    const foto = document.querySelector('#foto');
    

    const generarUsuario = async () => {
        //consultar a la API
        const url = "https://randomuser.me/api/";
        const respuesta = await fetch(url);
        const { results } = await respuesta.json();
        const datos = results[0];
        
        foto.src = datos.picture.medium;
        nombre.textContent = datos.name.first;        
        correo.textContent = datos.email;        
        telefono.textContent = datos.phone;        
        
    };

    //crear un evento al actualizar la pagina
    document.addEventListener("DOMContentLoaded", generarUsuario);

    //Evento para el boton siguiente
    const boton = document.querySelector('#boton');
    boton.addEventListener("click", generarUsuario);

</script>

<h1>Generador de Usuarios Random</h1>

<div class="contenedor">
    <img id="foto" src="" alt="imagen" />
    <h2>Nombre: <span id="nombre"></span></h2>
    <div class="datos">
        <p>Correo: <span id="correo"></span></p>
        <p>Celular: <span id="telefono"></span></p>
    </div>
</div>

<div class="boton">
    <button id="boton">SIGUIENTE</button>
</div>